@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body
{
    background-color: rgb(241, 241, 236);
    font-family: "Poppins", sans-serif;
}

#email:focus, #senha:focus
{
    background-color:antiquewhite;
}

label
{
    font-weight: bold;
    display: block;
}

fieldset
{
    width: 300px;
}

legend
{
    font-weight: bold;
}

fieldset label
{
    font-weight: 200;
    display: inline;
    margin-right: 5px;
}

input
{
    margin-bottom: 10px;
    padding: 5px;
}

button
{
    margin-top: 10px;
    color: white;
    background-color: black;
    padding: 5px;
}

button:hover
{
    color: black;
    background-color: rgb(255, 251, 0);
    scale: 101%;
}